<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTION</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-btn">
				<span>SUBSCRIBE NOW</span>
			</li>
			<li id="log_in-btn">
				<span>LOG IN</span>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fa fa-gear">
				<%= render partial: 'shared/gear_dropdown' %>
				</i>
			</li>
		</ul>
	</nav>
</header>
