<header class="masthead">
  <nav class="language-nav">
    <ul class="">
      <li class="language"><a href="#">CSS</a></li>
      <li class="language"><a href="#">HTML</a></li>
      <li class="language"><a href="#">JAVASCRIPT</a></li>
      <li class="language"><a href="#">RUBY</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png">

  <ul class="masthead-links">
    <li><time>Tuesday, October 18, 2016</time></li>
    <li>
      <button class="fa fa-newspaper-o">
      Today's Paper</button>
    </li>
    <li><i class="fa fa-video"></i><a href="0">Video</a></></li>
    <li><a href="#">77 F</a></li>
    <li>ACC <strong>+100%</strong></li>
  </ul>
</header>
