.section_nav {
	display: flex;
	flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.topic_nav {
  position: absolute;
}

.topic-nav ul {
	display: flex;
  flex-direction: row;
  font-size: 10px;
}

.topic-nav a {
  margin: 0 5px;
}

.topic-nav a:hover {
  background-color: lightgrey;
}

.topic-nav > ul > li:last-of-type {
  text-decoration: underline;
}
